# Ignore RStudio files
.Rhistory
.RData
.Rproj.user/
.Ruserdata

# Ignore renv folders (if using renv for package management)
renv/library/
renv/staging/

#ignore R files on which private file path is written
scripts/path.R
reports/*
